Temp/
*/__pycache__/*
**.ipynb_checkpoints

*.bmp
*.h5
*.sb
*.tar
*.7z
*.svg

Data/Training/**/*.png
NetworkTypes/**/*.png
NetworkTypes/*.h5
NetworkTypes/Net_tinyUNet/
NetworkTypes/Net_with_BNorm/
NetworkTypes/Net_without_BNorm/
NetworkTypes/UNet64*/

*.log
*.txt
*.csv
*.xml

*.BAK
*---bin
*.zip
*.bz2
*.gz
=======
.idea/
*.idea
*.save

*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*busy*
*.toc
