*/__pycache__/*
**.ipynb_checkpoints

*.png
*.jpg
*.jpeg
*.bmp

NetworkTypes/*.h5
NetworkTypes/Net_tinyUNet/
NetworkTypes/Net_with_BNorm/
NetworkTypes/Net_without_BNorm/

*.log
*.txt
*.csv
*.xml

*---bin
*.zip
*.bz2
*.gz
=======
.idea/
*.idea
*.save
